//primary colors
$primary: #4554D7;
$primaryDark: #2C3DCE;
$primaryLight: #E3EBF9;
$primaryLightest: #F5F8FD;

//greys
$black: #1F2539;
$headerblack: #323C46;
$greyDark: #6D7883;
$greyMedium: #9AA7B4;
$greyLight: #C2CAD2;
$greyLightest: #EBEDF0;
$white: #FFF;

//background grey
$greyBackground: #F8F9FA;

//secondary colors
$secondary: #5BBDCC;
$success: #367C6E;
$successMedium: #D2E8B9;
$successLight: #E1F0D0;
$warning: #E12846;
$warningDark: #CB223E;
$warningLight: #F9E8EB;
$caution: #B58C12;
$cautionLight: #FFF7DB;
$previewBg: #F7EFD6;
$previewText: #A58A34;

//data and charts colors
$dataColor1: #4554D7;
$dataColor2: #1EAEA5;
$dataColor3: #3DA0D6;
$dataColor4: #83C823;
$dataColor5: #B248A5;
$dataColor6: #F0CA4D;

//data and charts monochromatic colors
$dataMono1: #2334CD;
$dataMono2: #4554D7;
$dataMono3: #668AE1;
$dataMono4: #101FA6;
$dataMono5: #90B0EC;
$dataMono6: #D0DCF4;

$boxShadow: 0 3px 6px 0 rgba(190, 190, 190, 0.5);
$modalBoxShadow: 0 10px 20px 3px rgba(50, 60, 70, 0.1);
